.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav ul {
        font-size: 18px;
    }
}

ul.checkbox {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    list-style: none;
}

ul.checkbox li input {
    margin-right: .25em;
}

ul.checkbox li {
    border: 1px transparent solid;
}

ul.checkbox li label {
    margin-left: 0;
    font-size: 20px;
    color: #818181;
}

ul.checkbox li:hover,
ul.checkbox li.focus {
    background-color: lightyellow;
    border: 1px gray solid;
    width: 12em;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

.main form {
    margin-left: 10px;
}

.custom-seekbar {
    cursor: pointer;
    height: 5px;
    margin-bottom: 10px;
    outline: thin solid orange;
    overflow: hidden;
    position: relative;
    width: 500px;
}

.custom-seekbar span {
    background-color: orange;
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 0px;
}
