.side_nav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

@media screen and (max-height: 450px) {
    .side_nav {
        padding-top: 15px;
    }

    .side_nav ul {
        font-size: 18px;
    }
}

select.site_selector {
    margin-left: 10px;
    padding: 0;
    width: 80%;
}

ul.camera_checkbox {
    padding: 0;
    margin-left: 20px;
    list-style: none;
}

ul.camera_checkbox li input {
    margin-right: 0px;
}

ul.camera_checkbox li {
    border: 1px transparent solid;
}

ul.camera_checkbox li label {
    margin-left: 0;
    font-size: 15px;
    color: #818181;
}

ul.camera_checkbox li:hover,
ul.camera_checkbox li.focus {
    background-color: lightyellow;
    border: 1px gray solid;
    width: 12em;
}

.main_area {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

.main_area form {
    margin-left: 10px;
}

.date_picker {
    margin-right: 10px;
}

.video_table {
    width: 100%;
}

.video_player {
    position: relative;
    margin: 10px;
}

.video_seekbar {
    cursor: pointer;
    height: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    outline: thin solid orange;
    overflow: hidden;
    position: relative;
}

.video_seekbar span {
    background-color: orange;
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 0px;
}
